@import url("reset.css");

body{
    background-color: #808080;
    margin:0 auto;
}

content{
    width: 1500px;
    margin-left:auto;
    margin-right:auto;
}

@media screen and (max-width:600px){
    content{width:100%;}
}
#header{
    width:1230px;
    margin:auto;
}


#navig{
    width:1230px;
    margin:0 auto;
    overflow:hidden;
}

#navig li{
    list-style: none;
    float:left;
}

#navig li a{
    margin:0 auto;
    display:block;
    width: 195px;
    height:50px;
    line-height:50px;
    background-color: rgb(230, 172, 184);
    font-size: 15px;
    color:#FFF;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
}

#content{
    clear:both;
    width:1170px;
    margin: 0 auto;
    background-color: rgb(141, 218, 158);
    padding-top: 5px;
    padding-bottom: 30px;
}


#content p{
    text-indent:50px;
    font-size: 20px;
    line-height: 1.7;
    padding:0 30px; 
    padding-bottom: 15px;
}